{% extends 'dummy.html' %}

{% block title %}
    <title>Change Password Page</title>
{% endblock %}

{% block body_block %}
<center>
    <h1>Change Your Password</h1>

    <form method="POST">
        {% csrf_token %}

        <!-- Password Field -->
        <label for="password">New Password</label>
        <input type="password" name="cp" id="cp" required>
        <br><br>

        <!-- OTP Field -->
        <label for="otp">Enter OTP</label>
        <input type="text" name="otp" id="otp" required>
        <br><br>

        <!-- Submit Button -->
        <input type="submit" value="Change Password" class="btn btn-danger">
    </form>
</center>
{% endblock %}
