{% extends 'dummy.html' %}

{% block title %}
    <title>Set New Password</title>
{% endblock %}

{% block body_block %}
<center>
    <h1>Set New Password</h1>
    <form method="post">
        {% csrf_token %}
        <!-- <input type="hidden" name="un" value="{{ username }}"> -->
        
        <label for="new_password">New Password</label>
        <input type="password" name="new_password" id="new_password" placeholder="Enter your new password"><br><br>
        <br><br>
        <label for="confirm_password">Confirm Password</label>
        <input type="password" name="confirm_password" id="confirm_password" required>
        <br><br>
        <button type="submit">Reset Password</button>
    </form>
</center>
{% endblock %}
